.container
	.row
		br
		.header
			ul(class="nav nav-pills pull-right")
					li
						a(href="/") Home
					li.active
						a(href="/blog") Blog
					li
						a(href="/admin/createpost") New Post
					li
						a(href="/logout") Logout
hr
.container
	.name-box
		table.table
			tr
				td 
					h4 Post Name
				td 
					h4 Post Date
				td
					h4 Post GUID
				td 
					h4 Post Slug
				td 
					h4 Edit Post
				td 
					h4 Delete Post
			each post in posts	
				tr 
					td 
						a(href='/blog/#{post.guid}/') #{post.title}
					td 
						p #{post.date}
					td
						p #{post.guid}
					td
						p #{post.slug}
					td 
						a.btn.btn-primary(href='/admin/edit/#{post.guid}') Edit
					td 
						a.btn.btn-danger(href='/admin/delete/#{post.guid}') Delete