.container
	.row
		br
		.header
			ul(class="nav nav-pills pull-right")
					li
						a(href="/") Home
					li.active
						a(href="/blog") Blog
			h3.text-muted AkhilAcharya.tk
	br
	.container
		.jumbotron		
			h1.text-center #{post.title}
			h3.text-center Posted on #{moment(post.date).format("MM-DD-YYYY")}
			br 
			div.hero-unit!= md(post.content)