script(src="http://code.jquery.com/jquery-1.10.1.min.js")
script(src="/javascripts/editpost.js")
.container
	.row
		br
		.header
			ul(class="nav nav-pills pull-right")
					li
						a(href="/") Home
					li.active
						a(href="/blog") Blog
			h3.text-muted AkhilAcharya.tk
	.text-center
		.row
			h1 #{post.title} 
		.row
			br
			textarea.form-control.col-xs-12(id="post_content", rows="25", placeholder="Content") #{post.content}
		.row
			br
			button.btn.btn-primary(id="post_submit") Submit

		
	




