script(src="http://code.jquery.com/jquery-1.10.1.min.js")

.background(id="background")
	.container
		.row
			br
			.header
				ul(class="nav nav-pills pull-right")
						li.active
							a(href="/") Home
						li
							a(href="/blog") Blog
		br
	.container
			.jumbotron
				.hero-unit.text-center
					h1 I'm Akhil.
					h2 I turn ideas into beautiful, intuitive apps. 
					h3 Have an awesome idea? 
						a(href="mailto:akhilcacharya@gmail.com") Lets talk. 
					hr
					.row.text-center
							.col-xs-3
								a.span-blue(href="http://twitter.com/akhilcacharya")
									p 
										i(class="fa fa-twitter-square fa-5x")
							.col-xs-3
								a.span-black(href="https://github.com/akhilcacharya/")
									p 
										i(class="fa fa-github fa-5x")
							.col-xs-3
								a(href="https://bitbucket.org/akhilcacharya")
									p 
										i(class="fa fa-bitbucket fa-5x")
							.col-xs-3
								a.span-green(id="androidLink" href="https://play.google.com/store/apps/developer?id=Akhil%20Acharya&hl=en")
									p 
										i(class="fa fa-android fa-5x")  
					hr
					footer.footer
							div
								p Background 
									| by 		
									a.main(href="http://www.flickr.com/photos/ensh/") Manu_H 
									| is licensed under 
									a.main(href="http://creativecommons.org/licenses/by-sa/3.0/deed.en") CC

script(src="/javascripts/home.js")
