!!!
html
	head
		title Akhil Acharya
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='javascript', href='/javascripts/page.js')
		link(rel='stylesheet', href="/stylesheets/bootstrap-theme.css")
		link(rel="javascript", href="http://code.jquery.com/jquery-1.10.1.min.js")
		link(rel="javascript", href="/javascripts/bootstrap.js")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
		link(rel="stylesheet", href="http://www.jqueryscript.net/demo/Awesome-Video-Background-Plugin-with-HTML5-Youtube-API-YTPlayer/css/YTPlayer.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		body!= body

