.container
	.row
		br
		.header
			ul(class="nav nav-pills pull-right")
					li
						a(href="/") Home
					li.active
						a(href="/blog") Blog
			h3.text-muted AkhilAcharya.tk
hr
.container
	h3.text-center Login
	.fieldset
		form(action="/login" method="post")
			input.form-control(type="text" placeholder="Username" name="username")
			br
			input.form-control(type="password" placeholder="Password" name="password")
			br
			input.btn.btn-primary(type="submit") Submit