script(src="http://code.jquery.com/jquery-1.10.1.min.js")
script(src="/javascripts/newpost.js")
.container
	.row
		.header
			ul(class="nav nav-pills pull-right")
					li.active
						a(href="/") Home
					li
						a(href="/blog") Blog
		h3.text-muted AkhilAcharya.tk

	hr
	.text-center
		.row
			input.form-control(id="title" type="text" placeholder="Title")
		.row
			br
			textarea.form-control.col-xs-12(id="post_content", rows="25" placeholder="Content")
		.row
			br
			button.btn.btn-primary(id="post_submit") Submit

		
		



